body{
  background: url("../img/body-background.png");
  background-repeat: repeat-x;
}

footer{
  background:black;
  text-align: center;
  color: #ccc;
  padding: 30px;
}

footer i{
  margin-left:25px;
  margin-right:25px;
}

a{
  text-decoration: none;
}

a.nav-item{
  color:#3d2b06;
  font-weight: bold;
  font-size: 16px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.img-bottle{
  margin-top: 5%;
}

#bottle-center{
  display: block;
  position: absolute;
  width: 25%;
  left: 51%;
  transform: translate(-50%, 0);
  top: 30%;
  opacity: 0;
}

#bottle-text{
  position: absolute;
  width: 40%;
  left: 51%;
  transform: translate(-50%, 0);
  top: 63%;
}

#main-background{
  margin-top:15%;
}

#parallax1{
  text-align: center;
}

#topbar-left{
  margin-left:4%; margin-right:-4%; display:inline-block; margin-bottom:1%;
}

#topbar-right{
  text-align:left; margin-left:-4%; display:inline-block;
}

#bottle-first{
  position: relative;
}

#about-title,#product-product{
  position:absolute;
  left: 51%;
  transform: translate(-50%, 0);
  top: 11%
}

#about-background, #product-background{
  margin-top:1%; margin-left:5%; margin-right:5%; width:90%; 
}

#about-1{
  position: absolute;
  top: 30%;
}

#about-2{
  position: absolute;
  top: 50%;
}

#about-3{
  position: absolute;
  top: 58%;
}

#bottle-original{
  position: absolute;
  top:8%;
  width: 21%;
  left:50%;
  transform: translate(-50%, 0);
}

#bottle-lime{
  position: absolute;
  top:24%;
  width: 25%;
  right:5%;
  
}

#bottle-citron{
  position: absolute;
  top:37%;
  width: 30%;
  left:4%;
  
}

#description{
  text-align:center; 
  width:50%; 
  margin-top:0; 
  padding-top:20px; 
  margin-left:auto; 
  margin-right:auto;
  color: white;
  font-size: 17px;
}


#nav-bar{
  background: url("../img/navbar.png");
  background-repeat: no-repeat;
  width: 100%;
  text-transform: uppercase;
  overflow: auto;
}

#nav-bar p{
  margin-top:0;
}

#detail-button{
  margin-bottom:160px;
}

#logo{
  margin-top: 10px;
  width: 40%;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.left-align{
  text-align: left;
}

.right-align{
  text-align: right;
}

.position-relative{
  position:relative;
}

.nav-item{
  
  padding: 23px;
  padding-bottom: 38px;
}

.nav-item img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}