@font-face {
    font-family: linkFont;
    src: url(../fonts/constantia-bold.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/adonais.ttf);
}

@font-face {
    font-family: constantiaFont;
    src: url(../fonts/constantia.ttf);
}

@font-face {
    font-family: brushFont;
    src: url(../fonts/brush.ttf);
}

@font-face {
    font-family: descFont;
    src: url(../fonts/myriad-pro.otf);
}

@font-face {
    font-family: footerFont;
    src: url(../fonts/tahoma.ttf);
}

@font-face {
    font-family: specialFont;
    src: url(../fonts/rata.otf);
}

.container{
  background: url("../img/background.png");
  background-repeat: no-repeat;
  min-height: 100%;
  margin-bottom: -102px;
}

body{
  background: url("../img/base_bg.png");
  background-repeat: repeat;
}

footer{
  background:black;
  text-align: center;
  color: #ccc;
  padding: 30px;
  height: 142px; 
}

footer i{
  margin-left:25px;
  margin-right:25px;
}

a{
  text-decoration: none;
}

a.nav-item{
  color:#3d2b06;
  font-size: 8px;
  font-family: linkFont;

}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#bottle{
  position: absolute;
  top: 20px;
}

.img-bottle{
  margin-top: 5%;
}

#bottle-center{
  display: block;
  position: absolute;
  width: 25%;
  left: 51%;
  transform: translate(-50%, 0);
  top: 30%;
  opacity: 0;
}

#bottle-text{
  position: absolute;
  width: 40%;
  left: 51%;
  transform: translate(-50%, 0);
  top: 63%;
}

#main-background{
  margin-top:15%;
}

.love{
  opacity: 0;
}

#parallax1{
  text-align: center;
}

#topbar-left{
  padding-left: 115px;
  display: inline-block;
  float: left;
  padding-top: 12px;
  padding-bottom: 25px;
}

#topbar-right{
  padding-right: 85px;
  display: inline-block;
  float: right;
  padding-top: 12px;
  padding-bottom: 25px;
}

#bottle-first{
  position: relative;
}

#about-title,#product-product{
  position:absolute;
  left: 51%;
  transform: translate(-50%, 0);
  top: 11%
}

#about-background, #product-background{
  margin-top:1%; margin-left:5%; margin-right:5%; width:90%; 
}

#about-1{
  position: absolute;
  top: 30%;
}

#about-2{
  position: absolute;
  top: 50%;
}

#about-3{
  position: absolute;
  top: 58%;
}

#bottle-original{
  position: absolute;
  top:8%;
  width: 21%;
  left:50%;
  transform: translate(-50%, 0);
}

#bottle-lime{
  position: absolute;
  top:24%;
  width: 25%;
  right:5%;
  
}

#bottle-citron{
  position: absolute;
  top:37%;
  width: 30%;
  left:4%;
  
}

#description{
  text-align:center; 
  width:50%; 
  margin-top:0; 
  padding-top:20px; 
  margin-left:auto; 
  margin-right:auto;
  color: white;
  font-size: 17px;
}

#special{
  color: #fcd211;
  font-size: 50px;
  font-family: specialFont;
}

#main-title{
  position: absolute;
  bottom: 340px;
}

.about-text{
  font-family: linkFont;
  font-size: 8.5px;
  text-transform: capitalize;
  color: #d9e9d9;
}

.desc-title{
  font-family: titleFont;
  font-size: 45px;
  text-transform: uppercase;
  color: white;
}

.desc{
  font-family: descFont;
  font-size: 9px;
  color: white;
  text-align: center;
}

.social-btn{
  margin-right: 12.5px;
  margin-left: 12.5px;
}

.abs{
  position: absolute;
}

.footer{
  font-size: 5.5px;
  font-family: footerFont;
  color: #606360;
  text-align: center;
}

.detail-header{
  font-size: 18.62px;
  font-family: footerFont;
  text-align: center;
  color: #1c291f !important;
}

.bottle-label{
  font-size: 18px;
  font-family: footerFont;
  text-align: center;
  color: #fbfbfb !important;
  text-align: center; 
  margin: 0; position: absolute; 
  width: 60px; 
}

.detail-header:hover {
  color: #3d4d40 !important;
}

.tabs .indicator {
    background-color: #1c291f !important;
}

#extra{
  background-color: white; width: 403px; position: absolute; top:190px; right: 25px; opacity: 0;
}

#nav-bar{
  background: url("../img/navbar-new.png");
  background-repeat: repeat-x;
  text-transform: uppercase;
  overflow: auto;
  width: 100%;
  height: 49px;
}

.topbar{
  position: fixed;
  z-index: 9999;
}

#nav-bar p{
  margin-top:0;
}

#detail-button{
  margin-bottom:160px;
}

#logo{
  margin-top: 10px;
  width: 40%;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.left-align{
  text-align: left;
}

.right-align{
  text-align: right;
}

.position-relative{
  position:relative;
}

.nav-item{
  
}

.nav-item img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  margin-right: 15px;
}